.context-menu {
    cursor: context-menu;
}

.component-wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 20%;
    justify-content: space-around;
}

.form-group {
    min-width: 50vw;
}

/* .navbar-link {
}

.form-control {
} */
