<div class="row mb-3">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username:</label>
                <input
                    type="text"
                    id="username"
                    formControlName="username"
                    class="form-control"
                />
                <label for="password">Password:</label>
                <input
                    type="password"
                    id="password"
                    formControlName="password"
                    class="form-control"
                />
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
            <span class="offset-1">
                Not a user?
                <a class="navbar-link context-menu" (click)="openFormModal()"
                    >Register</a
                ></span
            >
        </form>
    </div>
</div>
