/* .context-menu {cursor: context-menu;}
.row {
  color: #f6fff8
} */

.context-menu {
    cursor: context-menu;
}

.component-wrapper {
    color: var(--light-1);
    display: flex;
    flex-flow: row wrap;
    flex-basis: 20%;
    justify-content: space-around;
}

.form-group {
  min-width: 50vw;
}

.navbar-link {
    color: var(--light-4);
}

.form-control {
    color: var(--dark-1);
    background-color: var(--light-1);
}
