<div class="row">
    <!-- <div class="col-xs-12 scroller-list" style="max-height: 300px; overflow-y:auto">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let c of cards">
                <a (click)="onSelected(c)">{{ c.name }}</a>
            </li>
        </ul>
    </div> -->
    <table class="table table-hover table-condensed">
        <thead>
            <th>Cards</th>
        </thead>
        <tbody>
            <tr style="cursor: pointer;"*ngFor="let c of cards">
                <td class="" (click)="onSelected(c)">
                    {{c.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
