.list-group {
    max-height: 600px;
    margin-bottom: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    cursor: pointer;
    color: var(--dark-1);
    background-color: var(--light-1);
}

.carousel-img {
    max-width: 700px;
    height: auto;
    outline: 10px 5px 5px #1b75be;
}

.form-control {
    color: var(--dark-1);
    background-color: var(--light-1);
}

.input {
    color: var(--light-1);
}

.container-fluid {
    color: var(--light-1);
    display: flex;
    justify-content: space-around;
    min-width: 50vw;
}
::placeholder {
    color: var(--dark-1);
    opacity: 1;
}
