<div class="container-fluid">
    <div *ngIf="isLoading" class="d-flex justify-content-center">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="row" *ngIf="!isLoading">
        <form class="navbar-form pull-left" role="search">
            <div class="input-group">
                <input
                    type="text"
                    class="form-control mb-2"
                    [(ngModel)]="searchValue"
                    name="searchValue"
                    placeholder="Search for a card..."
                    (keyup.enter)="onSearch(searchValue)"
                />
                <button
                    type="button"
                    class="btn btn-primary mb-2"
                    (click)="onSearch(searchValue)"
                >
                <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ngb-carousel class="carousel-img">
          <ng-template ngbSlide *ngFor="let card of cardArt" [id]="card.scryfallId">
              <div class="picsum-img-wrapper">
                  <div class="d-flex justify-content-center carousel-img">
                      <img
                          class="img-fluid"
                          [src]="card.imagePath"
                          [alt]="card.name"
                      />
                  </div>
              </div>
              <div class="carousel-caption">
                  {{ card.artist }} - <cite>{{ card.set }}</cite> ({{
                      card.released_at
                  }})
              </div>
          </ng-template>
      </ngb-carousel>
      </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="">
                    <ul class="list-group scroll">
                        <a
                            class="list-group-item list-group-item-action"
                            *ngFor="let card of cardArt"
                            (click)="slideSelected(card.scryfallId)"
                            ><h6>{{ card.name }}</h6>
                            {{ card.artist }} - <cite>{{ card.set }}</cite> ({{
                                card.released_at
                            }})
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
