.list-group{
  max-height: 600px;
  margin-bottom: 10px;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
}

.list-group-item{
  cursor: pointer;
}

.carousel-img{
  /* max-height: 300px; */
  max-width: 300px;
  height: auto;
}


