.modal-header {
    background-color: var(--dark-1);
    color: var(--light-1);
}

.modal-body {
    background-color: var(--dark-3);
    color: var(--light-1);
}

.modal-footer {
    background-color: var(--dark-1);
    color: var(--light-1);
}

.alert {
  background-color: var(--light-3);
  color: var(--dark-1);
  border: var(--light-1);
}

