/* You can add global styles to this file, and also import other style files */
:root {
    --gunmetal: #022b3a;
    --metallic-seaweed: #1F7A8C;
    --beau-blue: #BFDBF7;
    --lavender-web: #E1E5F2;
    --white: #FFFFFF;

    --darkest-blue:#001233; /*slate*/
    --darker-blue:#001845; /*oxford-blue*/
    --dark-blue:#002855; /*dark-cornflower-blue*/
    --light-blue:#023E7D; /*agate*/
    --lighter-blue:#0353A4; /*prussian-blue*/
    --lightest-blue: #0466C8; /*stratospheric-blue*/
    --darker-grey:#33415C; /*independence*/
    --dark-grey:#5C677D; /*black-coral*/
    --light-grey:#7D8597; /*roman-silver*/
    --lighter-grey:#979DAC; /*manatee*/

    --primary-color: #BFDBF7;
    --secondary-color: #1F7A8C;
    --font-color: #FFFFFF;
    --bg-color: #022b3a;
    --heading-color: #E1E5F2;
    --form-color: #979DAC;
}

/* global styling for sticky footer*/
html,
body,
app-root {
    height: 100%;
}
body {
    margin-bottom: 0;
    margin-top: 0;
}

.content-outer-container {
    min-height: 100vh;
}

.content-inner-container {
    padding-bottom: 36px;
}

.footer-container {
    height: 24px;
    /* margin-top: -36px; */
    margin-top: auto;
}

.footer-content {
    margin: 0 auto;
    text-align: center;
    font-size: x-small;
}
