/* You can add global styles to this file, and also import other style files */
:root {
    --dark-1: #0f3375;
    --dark-2: #13459c;
    --dark-3: #1557c0;
    --dark-4: #196bde;
    --dark-5: #2382f7;
    --light-5: #4b9cf9;
    --light-4: #77b6fb;
    --light-3: #a4cefc;
    --light-2: #cce4fd;
    --light-1: #e8f3fe;
}

/* global styling for sticky footer*/
html,
body,
app-root {
    height: 100%;
}
body {
    margin-bottom: 0;
    margin-top: 0;
}

.content-outer-container {
    min-height: 100vh;
}

.content-inner-container {
    padding-bottom: 36px;
}

.footer-container {
    height: 24px;
    margin-top: -36px;
}

.footer-content {
    margin: 0 auto;
    text-align: center;
    font-size: x-small;
}
