<!-- <div class="container">
  <div class="jumbotron">
    <h2>Hello from HomeComponent</h2>
    <h5>This is a placeholder component</h5>
    <p>It will become the profile/inventory component</p>
      <form class="navbar-form pull-left" role="search">
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]='searchValue' name="searchValue" placeholder="Search for a card..." />
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" (click)="onSearch(searchValue)">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
  </div>
  <div class="well">
    <app-cards></app-cards>
  </div>
</div> -->
<div class="container">
    <div class="jumbotron">
        <h2>Hello {{ currentUser.username }}</h2>
        <h4>Choose a feature to get started:</h4>
        <div class="features">
            <ul ngbNav #nav="ngbNav" class="nav-pills">
                <li ngbNavItem="inventory">
                    <a ngbNavLink routerLink="./inventory">Inventory</a>
                    <ng-template ngbNavContent>
                        <p>This is where the inventory might be, if it looks good</p>
                    </ng-template>
                </li>
                <li ngbNavItem="profile">
                    <a ngbNavLink>Profile</a>
                    <ng-template ngbNavContent>
                        <p>
                            This is where the profile could be, but I'm not sure it makes
                            sense to have the layout look like that
                        </p>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
    <div [ngbNavOutlet]="nav" class="mt-4"></div>
    <router-outlet></router-outlet>
</div>
